<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8" />
	<title>
		Webová aplikace pro podporu výuky komprimačního algoritmu JPEG
	</title>
	<link rel="stylesheet" href="../styles/subsampling.css" />
</head>
<body>
<div class="wrapper">
	<div class="describe">
		<p class="title">
			Podvzorkování Y, C<sub>b</sub>, C<sub>r</sub> obrazových kanálů v JPEG
		</p>
		<p>
			Daný applet slouží ke znázornění prvních dvou kroků algoritmu JPEG –
			transformace barev do barevného modelu YC<sub>b</sub>C<sub>r</sub> a následující
			podvzorkování barvonosných složek obrazu.
		</p>
		<p>
			Ovládání appletu je realizováno tzv. přepínači. Pomocí přepínačů lze
			zobrazit jednotlivé složky obrazu a zvolit schéma podvzorkování. V
			levé části okna lze vybrat obrázek pro zpracování.
		</p>
		<p>
			Jakýkoliv obrázek v appletu se zvětší najetím kurzoru. Se stisknutou
			klávesou Ctrl se objeví všechny lupy najednou.
		</p>
	</div>
	<div class="working-area-wrapper">
		<div class="working-area">
			<div class="image-selector block-content side-area">
				<div class="images-block">
					<form action="#" class="image-control form">
						<div class="image-container">
							<label>
								<input type="radio" name="image-selector" value="1" checked/>
								<img src="../assets/1.png" alt="source"/>
							</label>
						</div>
						<div class="image-container">
							<label>
								<input type="radio" name="image-selector" value="2"/>
								<img src="../assets/2.png" alt="source2"/>
							</label>
						</div>
						<div class="image-container">
							<label>
								<input type="radio" name="image-selector" value="3"/>
								<img src="../assets/3.png" alt="source3"/>
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="processing-area" style="width: calc(100% - 50px)">
				<div class="content-row">
					<div class="content-column">
						<div class="content-block-wrapper area">
							<div class="content-block">
								<div class="block-title">
									<p>Původní obrázek</p>
								</div>
								<div class="image-block">
									<div class="align-left">
										<form action="#" class="canvas-control form">
											<input
												type="radio"
												id="originalColor-select_original"
												name="originalColor-select"
												value="original"
												checked
											/>
											<label for="originalColor-select_original"
											>Originál</label
											>
											<input
												type="radio"
												id="originalColor-select_r"
												name="originalColor-select"
												value="r"
											/>
											<label for="originalColor-select_r">R</label>
											<input
												type="radio"
												id="originalColor-select_g"
												name="originalColor-select"
												value="g"
											/>
											<label for="originalColor-select_g">G</label>
											<input
												type="radio"
												id="originalColor-select_b"
												name="originalColor-select"
												value="b"
											/>
											<label for="originalColor-select_b">B</label>
										</form>
									</div>
									<div class="image-area medium-image-area" id="originalImageArea">
										<canvas id="originalCanvas" width="320" height="320"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="content-block-wrapper area">
							<div class="content-block">
								<div class="block-title">
									<p>Výsledný obrázek</p>
								</div>
								<div class="image-block">
									<div class="align-left">
										<form action="#" class="canvas-control form">
											<input
												type="radio"
												id="resultColor-select_original"
												name="resultColor-select"
												value="original"
												checked
											/>
											<label for="resultColor-select_original"
											>Originál</label
											>
											<input
												type="radio"
												id="resultColor-select_r"
												name="resultColor-select"
												value="r"
											/>
											<label for="resultColor-select_r">R</label>
											<input
												type="radio"
												id="resultColor-select_g"
												name="resultColor-select"
												value="g"
											/>
											<label for="resultColor-select_g">G</label>
											<input
												type="radio"
												id="resultColor-select_b"
												name="resultColor-select"
												value="b"
											/>
											<label for="resultColor-select_b">B</label>
										</form>
									</div>
									<div class="image-area medium-image-area" id="resultImageArea">
										<canvas id="resultCanvas" width="320" height="320"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-column">
						<div class="arrow-block-wrapper align-top">
							<div class="arrow-block up-row">
								<div class="arrow">
									<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path id="Vector" d="M21 12L16 7M21 12L16 17M21 12H3" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>
							</div>
						</div>
						<div class="arrow-block-wrapper align-bottom">
							<div class="arrow-block down-row">
								<div class="arrow">
									<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path id="Vector" d="M3 12L8 17M3 12L8 7M3 12H21" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
					<div class="content-column">
						<div class="content-block-wrapper area">
							<div class="content-block">
								<div class="block-title">
									<p>Transformace barev do modelu YC<sub>b</sub>C<sub>r</sub></p>
								</div>
								<div class="image-block">
									<div class="align-left">
										<form action="#" class="canvas-control form">
											<input
												type="radio"
												id="transformationColor-select_y"
												name="transformationColor-select"
												value="y"
												checked
											/>
											<label for="transformationColor-select_y">Y</label>
											<input
												type="radio"
												id="transformationColor-select_cb"
												name="transformationColor-select"
												value="cb"
											/>
											<label for="transformationColor-select_cb">C<sub>b</sub></label>
											<input
												type="radio"
												id="transformationColor-select_cr"
												name="transformationColor-select"
												value="cr"
											/>
											<label for="transformationColor-select_cr">C<sub>r</sub></label>
										</form>
									</div>
									<div class="image-area medium-image-area" id="transformationColorImageArea">
										<canvas id="transformationCanvas" width="320" height="320"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="content-block-wrapper area">
							<div class="content-block">
								<div class="block-title">
									<p>Podvzorkování</p>
								</div>
								<div class="image-block">
									<div class="align-left">
										<form action="#" class="canvas-control form">
											<input
												type="radio"
												id="subsamplingColor-select_y"
												name="subsamplingColor-select"
												value="y"
												checked
											/>
											<label for="subsamplingColor-select_y">Y</label>
											<input
												type="radio"
												id="subsamplingColor-select_cb"
												name="subsamplingColor-select"
												value="cb"
											/>
											<label for="subsamplingColor-select_cb">C<sub>b</sub></label>
											<input
												type="radio"
												id="subsamplingColor-select_cr"
												name="subsamplingColor-select"
												value="cr"
											/>
											<label for="subsamplingColor-select_cr">C<sub>r</sub></label>
										</form>
									</div>
									<div class="image-area medium-image-area" id="subsamplingImageArea">
										<canvas id="subsamplingCanvas" width="320" height="320"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="content-column">
							<div class="arrow-block-wrapper area">
								<div class="arrow-block up-row">
									<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path id="Vector" d="M11 13L16 18M16 18L21 13M16 18V10.1969C16 9.07899 16 8.5192 15.7822 8.0918C15.5905 7.71547 15.2839 7.40973 14.9076 7.21799C14.4798 7 13.9201 7 12.8 7H3" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>
							</div>
							<div class="content-block-wrapper area">
								<div class="content-block">
									<div class="block-title">
										<p>Schéma podvzorkování</p>
									</div>
									<div>
										<form action="#" class="canvas-control form">
											<input
												type="radio"
												id="subsamplingScheme-select_444"
												name="subsamplingScheme-select"
												value="4:4:4"
												checked
											/>
											<label for="subsamplingScheme-select_444">4:4:4</label>
											<input
												type="radio"
												id="subsamplingScheme-select_420"
												name="subsamplingScheme-select"
												value="4:2:0"
											/>
											<label for="subsamplingScheme-select_420">4:2:0</label>
											<input
												type="radio"
												id="subsamplingScheme-select_422"
												name="subsamplingScheme-select"
												value="4:2:2"
											/>
											<label for="subsamplingScheme-select_422">4:2:2</label>
										</form>
									</div>
								</div>
							</div>
							<div class="arrow-block-wrapper area">
								<div class="arrow-block down-row">
									<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path id="Vector" d="M11 11L6 16M6 16L11 21M6 16H13.8031C14.921 16 15.4802 16 15.9076 15.7822C16.2839 15.5905 16.5905 15.2839 16.7822 14.9076C17 14.4802 17 13.921 17 12.8031V3" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="description">
		<p class="article-title">Transformace barev</p>
		<p>
			Prvním krokem je transformace barev, při které se obrázek ze svého
			primárního barevného modelu RGB převádí do modelu YC<sub>b</sub>C<sub>r</sub>. Tento barevný
			model odděluje informaci o světlosti od informace o barvě. Přičemž
			kanál světlosti Y nese v sobě mnohem více informací než barevné kanály
			C<sub>b</sub> a C<sub>r</sub>, což je dobře vidět po rozkliknutí
			příslušných složek.
		</p>
		<p class="article-title">Podvzorkování</p>
		<p>
			Podvzorkováním se míní redukce barvových dat obrázku. Celý obrázek se
			dělí na určité bloky pixelů. Pak se vypočítá průměrná hodnota všech
			pixelů v daném bloku. A nakonec se vypočtená hodnota přiřazuje každému
			pixelu v bloku. Z důvodu, že lidské oko je citlivější na změnu jasu
			než na změnu barvy, redukce probíhá pouze v barvonosných složkách
			C<sub>b</sub> a C<sub>r</sub>.
		</p>
		<p class="article-title">Schémata podvzorkování</p>
		<p>„4:2:0“ - dělení na bloky 2 &#x2715; 2. Výsledná komprese je 50 %;</p>
		<p>
			„4:2:2“ - obrázek se dělí na bloky 2 &#x2715; 1. Výsledná komprese je 33 %;
		</p>
		<p>
			„4:4:4“ - každý pixel se v tomto případě zpracovává samostatně. Tím
			pádem ke kompresi v daném kroku nedochází.
		</p>
	</div>
</div>
</body>
<script src="../scripts/constants.js"></script>
<script src="../scripts/utils.js"></script>
<script src="../scripts/functions.js"></script>
<script src="../scripts/canvas.js"></script>
<script src="../scripts/subsampling.js"></script>
<script src="../scripts/magnifier.js"></script>
<script>
	const controller = new SubsamplingAppletController();
	controller.init();
</script>
</html>