@import url("shared.css");

.block-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
}

.block-title p {
    margin: 0.5rem 0;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    width: 1100px;
}

.content-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
    height: 100%;
}

.content-block-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}

.arrow-block-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.arrow-block {
    display: flex;
    align-items: center;
}

.arrow-block.up-row {
    height: 399px;
}

.arrow-block.down-row {
    height: 320px;
}

.image-area {
    background-color: #ccc;
}