@import url("shared.css");

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    width: 1000px;
}

.content-block-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}

.content-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
    height: 100%;
}

.arrow-block-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.arrow-block {
    display: flex;
    align-items: center;
}

.arrow-block.up-row {
    height: 399px;
}

.arrow-block.down-row {
    height: 320px;
}

.block-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
}

.block-title p {
    margin: 0.5rem 0;
}

.image-block {
    margin: 0 auto 1rem;
    position: relative;
}

.image-area {
    background-color: #ccc;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999;
}

.overlay * {
    margin: 0;
    padding: 0;
}

.overlay .overlay-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.overlay .overlay-cell {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.select-pixels-area-cell {
    border: none;
    box-sizing: border-box;
}

.selected {
    border: 1px solid #0175ff;
}

.select-pixels-area-cell:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.1);
}

.canvas-values-grid-cell {
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-values-grid-cell.hovered {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.2);
}

.canvas-values-grid-cell-value {
    font-size: 9px;
}
